<% if (theme.disqus_enabled && theme.disqus_shortname){ %>
  <hr>
<section id="comments" class="mt-2 mb-3">

  <div id="utterances_thread">
    <a href="#" class="button button-primary" onclick="loadUtterances();return false;">View / Make Comments</a>
  </div>

  <script>
    var is_utterances_loaded = false;

    function loadUtterances() {
      if (!is_utterances_loaded) {
        is_utterances_loaded = true;

        var d = document,
          s = d.createElement('script');
        s.src = 'https://utteranc.es/client.js';
        s.setAttribute('repo', 'kongwy/notes-comments');
        s.setAttribute('issue-term', 'pathname');
        s.setAttribute('label', 'comment');
        if (localStorage.getItem('preferredTheme') == 'dark') {
          s.setAttribute('theme', 'github-dark');
        } else {
          s.setAttribute('theme', 'github-light');
        }
        s.setAttribute('crossorigin', 'anonymous');
        s.setAttribute('async', true);
        var c = d.getElementById('utterances_thread');
        c.getElementsByTagName('a').item(0).remove();
        c.appendChild(s);
      }
    }
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://utteranc.es/">comments powered by utterances.</a></noscript>

</section>
<% } %>
